h1 {
  font-family: $font-title;
}

h2 {
  font-family: $font-second-tile;
}

h3 {
  font-family: $font-second-tile;
}

h4 {
  font-family: $font-second-tile;
}

p {
  line-height: 30px;
  font-family: $font-paragraph;
  font-size: 1.3em;
  color: $fifth-color
}

hr {
  margin:auto;
  width:60%;
}

input.textarea, .form-control::placeholder {
  opacity: 0.5;
}
