{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="flex d-flex justify-content-around">
        <button class="btn btn-outline-danger mt-5 mb-5"><span uk-icon="pencil"></span> {{ button_label|default('Valider') }}</button>
    </div>
{{ form_end(form) }}
