{% extends 'layout_admin.html.twig' %}

{% block title %}Éditer l'Alerte{% endblock %}

{% block body %}
    <h1>Éditer l'Alerte</h1>

    {{ include('admin_alert/_form.html.twig', {'button_label': 'Update'}) }}

{#    <a href="{{ path('alert_index') }}">back to list</a>#}

{#    {{ include('admin_alert/_delete_form.html.twig') }}#}
{% endblock %}
