{% extends 'layout_admin.html.twig' %}

{% block title %}New Alert{% endblock %}

{% block body %}
    <h1>Create new Alert</h1>

    {{ include('admin_alert/_form.html.twig') }}

    <a href="{{ path('alert_index') }}">back to list</a>
{% endblock %}
