<form method="post" action="{{ path('partner_delete', {'id': partner.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce partenaire ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ partner.id) }}">
    <button class="btn btn-dark mt-5"><span uk-icon="trash"></span>
        Supprimer
    </button>
</form>
