<div class="row justify-content-around">
    {% for message in messages %}
        <div class="col-md-6 col-lg-4">
            <div class="uk-text-center">
                <div class="uk-card uk-card-hover uk-card-body">
                    <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                        <img src="{% if message.imageName is empty %}
                                    {{ asset('build/people.webp') }}
                            {% else %}
                                    {{ vich_uploader_asset(message, 'imageFile') }}
                                {% endif %}"
                             alt="{{ message.imageName }}" class="message-picture w-100">
                        <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-default">
                            <p
                                    class="uk-h3 uk-margin-remove">{{ message.text }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>