{% extends 'layout.html.twig' %}

{% block title %}L'esprit Dame Jeanne{% endblock %}

{% block body %}

    {#titre de la page#}

    <h1 id="section_team" class="container text-center news-title mt-5 mb-5 pt-5">On se présente et on vous résume nos valeurs...</h1>

    {#section portrait des patrons#}

    <section class="container-fluid mt-5 presentation-article">
        {% include 'presentation/_team.html.twig' %}
    </section>


    <hr class="uk-divider-icon mt-5">

    {#section nos valeurs#}

    <section class="container presentation-message">
        {% include 'presentation/_message.html.twig' %}
    </section>


    <hr class="uk-divider-icon mt-5">

    {#section partenaires#}

    <h2 class="text-center news-title mt-5 mb-5 pt-5">...Quelques partenaires avec qui on aime bien travailler...</h2>

    <section class="partners mb-5">
        {% include 'presentation/_partner.html.twig' %}
    </section>

    <hr class="uk-divider-icon mt-5">

{% endblock %}
