{% extends 'layout.html.twig' %}

{% block title %}L'esprit Dame Jeanne{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="uk-flex uk-flex-center">
            {% for team in teams %}
                <div uk-scrollspy="cls:uk-animation-fade">
                    <div class="uk-child-width-1-2@m uk-grid-match" uk-grid>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body"
                                 uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
                                <h3 class="uk-card-title">{{ team.firstname }}  {{ team.lastname }}</h3>
                                <p>{{ team.descprition|raw }}</p>
                                <p>{{ team.email|raw }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
