<div class="container admin_menu">
    <div uk-accordion>

        <!-- Introduction --->
        <div class="uk-open">
            <h3 class="uk-accordion-title">Introduction</h3>
            <div class="uk-accordion-content">
                <p>Maintenant que vous êtes connecté, nous allons vous décrire les fonctionnalités de l’interface
                    administrateur les unes après les autres.</p>
                <p>Sur votre gauche, vous trouverez un menu administrateur qui vous permettra de naviguer sur
                    différentes sections.</p>
            </div>
        </div>

        <!-- Présentation du fonctionnement des boutons --->
        <div>
            <h3 class="uk-accordion-title">Fonctions des boutons</h3>
            <div class="uk-accordion-content mb-5">
                <p>Voici les principaux boutons figurant sur les différentes pages de l'espace
                    administrateur et qui vous permettra de gérer le site.</p>
                <p><span class="menu__admin-logo uk-button uk-button-default pt-2" style="font-size: x-large"><i
                                class="fas fa-bars"></i> Menu</span> :
                    ouvre le menu de navigation.
                </p>
                <p><span class="btn btn-outline-danger"><span uk-icon="plus"></span> Ajouter</span>
                    : ouvre une page qui permet de créer un nouvel élément. Un message de <span
                            class="alert alert-success">confirmation</span>
                    s'affichera en haut de l'écran.</p>
                <p><span class="btn btn-outline-dark"><i class="far fa-eye mr-2"></i>Aperçu</span>
                    : ouvre une page qui permet d'avoir le détail sur l'élément.
                <p><span class="btn btn-outline-dark"><span uk-icon="pencil"></span> Modifier</span>
                    : ouvre une page qui permet de modifier le détail d'un élément de la ligne.</p>
                <p><span class="btn btn-outline-danger"><span uk-icon="check"></span> Valider</span>
                    : permet de valider vos modifications. Un message de <span
                            class="alert alert-success">confirmation</span> s'affichera en haut de l'écran.</p>
                <p><span class="btn btn-dark"><span uk-icon="trash"></span> Supprimer</span> : permet de supprimer
                    l'élément.
                    Une fenêtre de confirmation vous sera proposée. Un message de <span
                            class="alert alert-danger">confirmation</span> s'affichera en haut de l'écran.</p>
                <p><span class="btn btn-dark"><i class="far fa-arrow-alt-circle-left"></i> Retour à la liste</span> :
                    permet
                    de revenir à la liste des éléments.</p>
            </div>
        </div>

        <!-- Onglet "Administration" --->
        <div>
            <h3 class="uk-accordion-title">Onglet "Administration"</h3>
            <div class="uk-accordion-content mb-5">
                <p><span class="accordion__subtitle uk-margin-small-right"><i
                                class="uk-icon-link uk-margin-small-right fas fa-home"></i>Accueil du menu administration :</span>permet
                    d'être redirigé vers la page d'accueil administratif.</p>
                <p><span class="accordion__subtitle uk-margin-small-right"><i
                                class="far fa-arrow-alt-circle-left mr-2"></i>Retour vers le site :</span>permet
                    à l'administrateur d'être redirigé vers la page d'accueil de Dame Jeanne.</p>
                <p><span class="accordion__subtitle uk-margin-small-right"><i
                                class=" uk-icon-link uk-margin-small-right fas fa-sign-out-alt"></i>Se déconnecter :</span>permet
                    à l'administrateur de se déconnecter de l'interface administratif et d'être redirigé vers la page
                    d'accueil de Dame Jeanne.
                </p>
            </div>
        </div>

        <!-- Onglet "Message Personnel" --->
        <div>
            <h3 class="uk-accordion-title">Onglet "Message Personnel"</h3>
            <div class="uk-accordion-content mb-5">
                <p><span class="accordion__subtitle uk-margin-small-right"><i
                                class="uk-icon-link uk-margin-small-right fas fa-comments"></i>Message d'alerte :</span>permet
                    de gérer les messages d'informations que l'administrateur souhaite afficher sur toutes les pages
                    du site de Dame Jeanne.
                <p><span class="accordion__subtitle">Fonctionnement :</span> lorsque vous activez un message, celui-ci
                    s'affiche au-dessus du site de Dame Jeanne sur fond rouge.</p>
                <p><span class="accordion__subtitle">Conseil :</span> afin de favoriser un affichage optimal sur le site
                    de Dame Jeanne, il est recommandé de n'activer qu'un seul message.</p>
                </p>
            </div>
        </div>

        <!-- Onglet "Coordonnées Dame Jeanne" --->
        <div>
            <h3 class="uk-accordion-title">Onglet "Coordonnées Dame Jeanne"</h3>
            <div class="uk-accordion-content mb-5">
                <p><span class="accordion__subtitle uk-margin-small-right"><i
                                class="uk-icon-link uk-margin-small-right fas fa-map-marker-alt"></i>Coordonnées :</span>permet
                    de gérer la carte d'emplacement, les coordonnées et les horaires situés à la page d'accueil de Dame
                    Jeanne.
                </p>
                <p><span class="accordion__subtitle">Fonctionnement :</span> le système d'emplacement fonctionne par une
                    recherche latitude/longitude,
                    vous devez obligatoirement fournir ces coordonnées afin d'indiquer l'emplacement de votre
                    établissement sur le site de Dame Jeanne. Vous trouverez ci-dessous un lien vous permettant
                    d'obtenir ces coordonnées en
                    fournissant votre adresse.</p>
                <p><a href="https://www.coordonnees-gps.fr/" target="_blank">Lien pour obtenir les coordonnées
                        géographiques</a></p>
            </div>
        </div>

        <!-- Onglet "Articles" --->
        <div>
            <h3 class="uk-accordion-title">Onglet "Articles"</h3>
            <div class="uk-accordion-content mb-5">
                <p><span class="accordion__subtitle uk-margin-small-right"><i
                                class="uk-icon-link uk-margin-small-right fas fa-newspaper"></i>Articles :</span>permet
                    de gérer l'ensemble des articles situés sur la page "Les rendez-vous".
                </p>
                <p><span class="accordion__subtitle uk-margin-small-right"><i
                                class="uk-icon-link uk-margin-small-right fa fa-list-alt"></i>Catégorie article :</span>permet
                    de gérer les thèmes des articles.
                </p>
                <p><span class="accordion__subtitle uk-margin-small-right"><i
                                class="uk-icon-link uk-margin-small-right fa fa-comment-dots"></i>Commentaires :</span>permet
                    de gérer l'ensemble des commentaires rédigés par les visiteurs au sein des différents articles. À
                    partir de cette interface, vous
                    avez la possibilité d'afficher/masquer les commentaires grâce au système d'affichage situé à la
                    colonne "Mise en
                    avant", vous pouvez également supprimer définitivement un commentaire.
                </p>
            </div>
        </div>

        <!-- Onglet "Produits" --->
        <div>
            <h3 class="uk-accordion-title">Onglet "Produits"</h3>
            <div class="uk-accordion-content mb-5">
                <p><span class="accordion__subtitle uk-margin-small-right"><i
                                class="uk-icon-link uk-margin-small-right fas fa-beer"></i>Produits :</span>permet de
                    gérer l'ensemble des produits situés sur la page "Nos produits".
                </p>
                <p><span class="accordion__subtitle uk-margin-small-right"><i
                                class="uk-icon-link uk-margin-small-right fas fa-clipboard-list"></i>Catégorie produit :</span>permet
                    de gérer les catégories des produits.
                </p>
            </div>
        </div>

        <!-- Onglet "L'équipe" --->
        <div>
            <h3 class="uk-accordion-title">Onglet "L'équipe"</h3>
            <div class="uk-accordion-content mb-5">
                <p><span class="accordion__subtitle uk-margin-small-right"><i
                                class="uk-icon-link uk-margin-small-right fas fa-user"></i>Les tauliers :</span>permet
                    de gérer l'ensemble des membres de Dame Jeanne situés sur la page "L'esprit Dame Jeanne".
                </p>
                <p><span class="accordion__subtitle uk-margin-small-right"><i
                                class="uk-icon-link uk-margin-small-right fas fa-comment"></i>Les messages com' :</span>permet
                    de gérer l'ensemble des messages situés sur la page "L'esprit Dame Jeanne".
                </p>
                <p><span class="accordion__subtitle uk-margin-small-right"><i
                                class="uk-icon-link uk-margin-small-right fas fa-heart"></i>Les partenaires :</span>permet
                    de gérer l'ensemble des partenaires situés sur la page "L'esprit Dame Jeanne".
                </p>
            </div>
        </div>

        <!-- Onglet "Page Pédago" --->
        <div>
            <h3 class="uk-accordion-title">Onglet "Page Pédago"</h3>
            <div class="uk-accordion-content mb-5">
                <p><span class="accordion__subtitle uk-margin-small-right"><i
                                class="uk-icon-link uk-margin-small-right fas fa-book-open"></i>Le dico du Dame Jeanne :</span>permet
                    de gérer l'ensemble des définitions situées sur la page "Le dico".
                </p>
            </div>
        </div>

    </div>
</div>
