$primary-color: #632331;
$secondary-color: #C99F6C;
$third-color: #F1F1F1;
$fourth-color: #0a0a0a;
$fifth-color: #666;
$sixth-color: #FFFFFF;
$seventh-color: #cccccc;
$eighth-color: #dee2e6;

$font-title: Anton-Regular;
$font-paragraph : Neucha-Regular;
$font-second-tile : Merienda-Regular;

$chat-height: 400px;
$chat-max-width: 420px;
$chat-distance-to-window: 50px;
$chat-padding: 20px;
$header-height: 55px;
$entry-height: 60px;
$icon-height: 1.5em;
