.navbar {
  margin-top: 1em;
  font-family: $font-title;
  border-top: 1px solid $primary-color;
  border-bottom: 1px solid $primary-color;
}

.navbar-brand {
  font-size: 2em;
  color: $primary-color;
  text-decoration: none;
}

.nav-link {
  color: $secondary-color;
  font-size: 1em;
  font-family: $font-second-tile;
  text-decoration: none;
}

a:hover {
  color: $primary-color;
}

.logo {
  width: 12rem;
  height: 12rem;
}

.nav-effect {
  position: relative;
}

.nav-effect::before, .nav-effect::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: $primary-color;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.nav-effect::before {
  top: 0;
  transform-origin: center right;
}

.nav-effect:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}

.nav-effect::after {
  bottom: 0;
  transform-origin: center left;
}

.nav-effect:hover::after {
  transform-origin: center right;
  transform: scaleX(1);
}

.navbar-toggler {
  border-color: black;
}



