.admin_menu {

  .uk-accordion-title {
    color: $primary-color;
    font-size: xx-large;
    font-weight: bolder;
    border-bottom: 3px solid $secondary-color;
  }

}

.uk-nav-default {
  font-size: 1em;
}

a.manualTitle {
  color: $primary-color;
  text-decoration:none;
}
