@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import 'vars';
@import "footer";
@import "style_article";
@import "navbar_style";
@import "map";
@import 'pagination';
@import "presentation";
@import "partners";
@import "admin_partner";
@import "admin_message";
@import "style_product";
@import "style_pedago";

h1 {
  font-family: $font-title;
}

h2 {
  font-family: $font-second-tile;
}

h3 {
  font-family: $font-second-tile;
}

p {
  line-height: 30px;
  font-family: $font-paragraph;
  font-size: 1.3em;
  color: $fifth-color
}

hr {
  margin:auto;
  width:60%;
}

a, button {
  font-family: $font-paragraph;
}

label{
  font-family: $font-paragraph;
  font-size: 1.3em;
  color: $fifth-color
}

select {
  font-family: $font-paragraph;
  font-size: 1.3em;
}

input.textarea, .form-control::placeholder {
  opacity: 0.5;
}

