.footer_form {
  .logo_footer {
    width: 12rem;
    height: 12rem;
  }

  .footer_address {
    p {
      font-family: $font-paragraph;
      font-size: large;
      margin-top: 4.8em;
      color: $fourth-color;
    }
  }

  .footer_links {
    font-family: $font-paragraph;
    font-size: large;
    margin-top: 5em;

    a {
      color: $fourth-color;
      text-decoration: none;
    }

    a:hover {
      color: $primary-color;
    }
  }
}

.footer_team {
  a {
    color: $fourth-color;
    font-size: 1.2em;
  }
}

.network {
  img {
    width: 2rem;
    height: 2rem;
  }

  p {
    font-family: $font-title;
    color: $primary-color;
  }
}

@media screen and (min-width: 200px) and (max-width: 768px) {
  .footer_form {
    .footer_address {
      p {
        margin-top: 1em;
      }
    }

    .footer_links {
      margin-top: 1em;
    }
  }
}