.uk-pagination > * > * {
  color:$secondary-color;
}

.uk-pagination > .disabled > * {
  color: $seventh-color;

  &:hover {
    color: $seventh-color;
  }
}

.uk-pagination > .uk-active > * {
  color:$primary-color;
}

.uk-pagination > * > :focus, .uk-pagination > * > :hover {
  color:$primary-color;
}
