.card-body {
  border: 1px solid $primary-color;
}

.vich-image .custom-file-input {
  opacity: 1;
}
.custom-file-label {
  display: none;
}

.custom-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  margin: 0;
  opacity: 0;
}

.custom-file-label:lang(fr)::after {
  content: 'Parcourir';
}

.vich-image a img {
  margin-top: 1rem;
  height: 50vh;
  width: 100%;
  object-fit: cover;
}