.products {
  .product-picture {
    object-fit: cover;
    height: 22rem;
  }

  .card-body {
    border: 1px solid $primary-color;
  }

  .product-picture-show {
    object-fit: contain;
  }

  .product_modal {

    .modal-dialog {
      max-width: 40%;
    }

  }
}

@media screen and (min-width: 200px) and (max-width: 500px) {
  .products {
    .product-picture {
      object-fit: contain;
      height: 10rem;
    }
  }
}