.pedago-article {

  .content {
    color: $fourth-color;
    line-height: 30px;
    font-size: 1.3em;
    color: $fifth-color
  }

  .uk-card-body {
    padding: 0;
  }

  .uk-accordion-title {
    color: $primary-color;
    font-size: xx-large;
    font-weight: bolder;
    border-bottom: 3px solid $secondary-color;
  }

  h3 {
    font-size: x-large;
  }

  .uk-accordion-content {
    margin-top: 0;
  }

  .pedago-link {
    color: $secondary-color;
    font-size: 1.2em;
    font-family: $font-second-tile;
    text-decoration: none;
    border-style: none;
  }

  a:hover {
    color: $primary-color;
  }

  .pedago-effect {
    position: relative;
  }

  .pedago-effect::before, .pedago-effect::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: $primary-color;
    transform: scaleX(0);
    transition: transform 0.5s ease;
  }

  .pedago-effect::before {
    top: 0;
    transform-origin: center right;
  }

  .pedago-effect:hover::before {
    transform-origin: center left;
    transform: scaleX(1);
  }

  .pedago-effect::after {
    bottom: 0;
    transform-origin: center left;
  }

  .pedago-effect:hover::after {
    transform-origin: center right;
    transform: scaleX(1);
  }
}