.logo-pedago {
  background-image: url('../../assets/images/dame_logo_newsoftgrey.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-origin: content-box;
}

.pedago-article {

  h2:hover {
    transition: transform .2s;
    filter: grayscale(0);
    transform: scale(1.5);
  }

  .uk-accordion-title {
    color: $primary-color;
    font-size: xx-large;
    font-weight: bolder;
    margin-left: 2em;
  }

  p {
    font-size: x-large;
    text-align: center;
  }

  .pedago-link {
    color: $secondary-color;
    font-size: 1em;
    font-family: $font-second-tile;
    text-decoration: none;
    border-style: none;
  }

  .pedago-link {
    color: $secondary-color;
    font-size: 1em;
    font-family: $font-second-tile;
    text-decoration: none;
  }

  .pedago-link {
    border-style: none;
  }

  a:hover {
    color: $primary-color;
  }

  .pedago-effect {
    position: relative;
  }

  .pedago-effect::before, .pedago-effect::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: $primary-color;
    transform: scaleX(0);
    transition: transform 0.5s ease;
  }

  .pedago-effect::before {
    top: 0;
    transform-origin: center right;
  }

  .pedago-effect:hover::before {
    transform-origin: center left;
    transform: scaleX(1);
  }

  .pedago-effect::after {
    bottom: 0;
    transform-origin: center left;
  }

  .pedago-effect:hover::after {
    transform-origin: center right;
    transform: scaleX(1);
  }
}