.article-show {
  .card-body {
    border: 1px solid $primary-color;
  }
}

.article-content {
  line-height: 30px;
  font-size: 1.3em;
  color: $fifth-color
}

.section-home-article {
  .article-picture {
    object-fit: cover;
    height: 22rem;
  }
}

.article-picture-index {
  object-fit: cover;
  height: 22rem;
}

@media screen and (min-width: 200px) and (max-width: 500px) {
  .section-home-article {
    .article-picture {
      object-fit: contain;
      height: 10rem;
      margin-right: 5rem;
    }
  }
}

@media screen and (min-width: 200px) and (max-width: 500px) {
  .article-picture-index {
    object-fit: contain;
    height: 10rem;
    margin-right: 5rem;
  }
}

@media screen and (min-width: 810px) and (max-width: 850px) and (min-height: 370px) and (max-height: 390px) {
  .article__list {
    margin: 0 auto !important;
  }

}
