.products {
  .product-picture {
    object-fit: cover;
    height: 22rem;
  }

  .card-body {
    border: 1px solid $primary-color;
  }

  .product-picture-show {
    object-fit: contain;
  }

  .product_modal {

    .modal-dialog {
      max-width: 40%;
    }
  }
}

.modal-comment {
  border-top: 1px solid $eighth-color;
}

.uk-button {
  padding: 0;
  height: 40px;
}

.uk-button:hover {
  background-color: $eighth-color;
}

.comment-author {
  margin-bottom: 0;
}

.comment-date {
  font-size: 0.9em;
}

@media screen and (min-width: 200px) and (max-width: 500px) {
  .products {
    .product-picture {
      object-fit: contain;
      height: 10rem;
    }
  }
}