{% extends 'layout_admin.html.twig' %}

{% block title %}Footer{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-5 mb-5">Adresse et téléphone du footer</h1>
        <div class="admin-footer pt-5 pb-5 px-5">

            <div class="admin-list-footer">
                <table class="table">
                    <thead>
                    <tr>
                        <th>L'adresse</th>
                        <th>Le numéro de téléphone</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for footer in footers %}
                        <tr>
                            <td>{{ footer.address|raw }}</td>
                            <td>{{ footer.phone|raw }}</td>
                            <td>
                                <a href="{{ path('admin_footer_show', {'id': footer.id}) }}"
                                   class="btn btn-outline-dark col-sm-5 m-2"><i class="far fa-eye"></i>
                                    Aperçu
                                </a>
                                <a href="{{ path('admin_footer_edit', {'id': footer.id}) }}"
                                   class="btn btn-outline-dark col-sm-5 m-2"><span uk-icon="pencil"></span>
                                    Modifier
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
