{% extends 'layout_admin.html.twig' %}

{% block title %}Menu des sections de produits{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-5 mb-5">Menu des sections de produits</h1>
        <div class="admin-section pt-5 pb-5 px-5">
            <a href="{{ path('section_new') }}" class="btn btn-outline-danger mb-5">Créer une section</a>

            <table class="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th class="col-lg-3">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for section in sections %}
                    <tr>
                        <td>{{ section.name }}</td>
                        <td>
                            <a href="{{ path('section_show', {'id': section.id}) }}"
                               class="btn btn-outline-dark m-2">Aperçu</a>
                            <a href="{{ path('section_edit', {'id': section.id}) }}"
                               class="btn btn-outline-dark m-2">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">Aucune section trouvée</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
