{% extends 'layout_admin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Nouvelle section de produit{% endblock %}

{% block body %}
    <div class="mt-5 container-xl container-lg container-fluid">
        <h1 class="text-center mt-3 mb-4">Créer une section de produit</h1>
        <div class="admin-section pt-5 pb-5 px-5 border p-4">

            {{ include('admin_section_product/_form.html.twig') }}
        </div>

        <div class="flex d-flex justify-content-around">

            <a href="{{ path('section_index') }}" class="btn btn-dark m-5">Retour aux sections de produits</a>
        </div>
    </div>
{% endblock %}
