<div id="chatBot_icon" class="btn-raised">
    <i class="far fa-comment-alt"></i>
</div>

<div class="chatbot chatbot--closed ">
    <div class="chatbot__header d-flex justify-content-between pt-3">
        <p><strong><span class="text_header">Vous  avez une question ?</span></strong></p>
        <i class="fas fa-times"></i>
    </div>

    <div id="chatBot_messages">
        <div class="botMessage d-inline-block">
            <p>Bonjour, je suis D-Jeanne, votre assistant virtuel, quelle est votre question ?</p>
        </div>

        <div id="botBlock" class="blockBot d-none">
            <p class="bot_answer"><!--bot answer--></p>
        </div>

        <div id="userBlock" class="d-none justify-content-end align-items-end text-right">
            <div class="blockUser d-inline block mb-2">
                <p><!--user question--></p>
            </div>
        </div>

    </div>
    <div class="chatbot__entry d-flex justify-content-between align-items-center chatbot--closed">
        <input id="input" class="chatbot__input" placeholder="Ecrivez votre question...puis taper Entrée"/>
    </div>
</div>
