{% extends 'base.html.twig' %}

{% block layout %}

    {% block header %}{% endblock %}
    {% block navbar %}
        {% include '_navbar.html.twig' %}
        {% include '_flash_message.html.twig' %}
        {% include 'social_logo.html.twig' %}
    {% endblock %}
    <main>
        {% block body %}{% endblock %}
    </main>
    {% block footer %}{% include '_footer.html.twig' %}{% endblock %}

{% endblock %}
