<div class="fl-fl float-fb">
    <a href="https://fr-fr.facebook.com/pages/category/Wine-Bar/Dame-Jeanne-Tours-291167721581182/" target="_blank" class="social_text">
        <i class="fab fa-facebook-f  ml-1 mr-2" style="font-size: 1.5em"></i> Like us!</a>
</div>