{% extends 'layout.html.twig' %}

{% block title %}Un peu de pédagogie{% endblock %}

{% block body %}

    <h1 class="container text-center news-title mt-5 mb-5 pt-5">Le dico pédago du Dame Jeanne</h1>

    <div class="container text-center mt-5 pedago-article">
        {% for pedago in pedagos %}
            {{ pedago.title }}
            {{ pedago.content }}
            <a href="{{ pedago.link }}" target="_blank">Pour un peu plus de lecture</a>
        {% endfor %}
    </div>
{% endblock %}
