{% extends 'layout.html.twig' %}

{% block title %}Un peu de pédagogie{% endblock %}

{% block body %}

    <h1 class="container text-center news-title mt-5 mb-5 pt-5">Notre dico pédago</h1>

{% endblock %}
