{% extends 'layout_error.html.twig' %}

{% block body %}

    <div class="error__background">
        <div class="flex-column">
            <h1>Dame Jeanne</h1>
        </div>
    </div>



{% endblock %}